.searchResults_header {
    color: white;
    text-align: center;
    display: block;
    font-style: normal;
}

.searchResults {
    background-color: rgba(0, 0, 0, 0.2);
    flex: 1;
    margin: 0 2rem;
    border-radius: 1rem;

    padding-bottom: 2rem;
}
