.track {
    display: flex;
    width: 90%;
    border: solid 2px rgba(255, 255, 255, 0.2);
    border-radius: 1rem;
    color: white;
    margin: 2px 10px;
}

.trackInfo {
    display: grid;
    grid-template-columns: 1fr;
    background-color: rgba(255, 255, 255, 0.2);
    padding: 1rem;
    flex: 4 4;
    border-top-left-radius: .79rem;
    border-bottom-left-radius: .79rem;

}
.trackInfo_lower {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.trackInfo_spacer {
    margin: 0 5px;
}

.trackInfo_name {
    text-align: center;
    grid-column-end: span 3;
    font-size: 1.4rem;
}

.trackInfo_details {
    /* grid-column-end: span 2; */
    text-align: center;
}

.track_add {
    /* grid-row-end: span 2; */
    background-color: transparent;
    border-top-right-radius: .79rem;
    border-bottom-right-radius: .79rem;
    border: none;
    color: inherit;
    flex: 1 1;
    color: inherit
}

.track_add:hover {
    background-color: rgba(255, 255, 255, 0.2);
}

.track_add:active {
    background-color: rgba(255, 255, 255, 0.4);
}
